{% extends 'blog/base.html' %}
{% block content %}
{% for post in posts %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 allposts">
	<a href="{% url 'post_details' pk=post.pk %}"><h1>{{post.title}}</h1></a>
	Author: {{post.author}}
	<p>Published date :{{post.publish_date}}</p>
	<p class="text-justify">{{post.text|linebreaksbr}}</p>
	<p><a href="{% url 'upvote' pk=post.pk %}"><button class="btn btn-default mybutton">Upvotes {{post.like}}</button></a> 
	<a href="{% url 'post_details' pk=post.pk %}"><button class="btn btn-default mybutton">Comment</button></a></p>
	{% block comment %}
	{% endblock %}
	
	</div>
</div>

{% endfor %}
{% endblock %}