{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-lg-8 col-lg-offset-2 allposts">

	<div><a href="{% url 'post_details' pk=post.pk %}"><h2>{{post.title}}</h2></a></div>
	{% if post.author == request.user %}
	<div style="float:right;"><a href="{% url 'editpost' pk=post.pk %}"><button class="btn btn-primary btn-sm">Edit Post</button></a></div>
	{% endif %}
	<p>Author: {{post.author}}</p>
	<p>Published date :{{post.publish_date}}</p>
	<p class="text-justify">{{post.text|linebreaksbr}}</p>
	<!--<p><a href="{% url 'upvote' pk=post.pk %}"><button class="btn btn-default mybutton"><img src="/static/Images/like.png" height="30px" width="35px"> {{post.like}}</button></a> 
	</p> -->
		<p class="bg-info"> <a href="{% url 'upvoted_users' pk=post.pk %}">{{post.like}} likes</a> , {{post.commentcount}} comments </p>
		{% if post in upvote_posts %}
			<p><a href="{% url 'upvote' pk=post.pk %}"><button id = {{post.pk}} class="btn btn-primary mybutton"><img src="/static/Images/like.png" height="20px" width="30px"> </button></a>


		{% else %}
			<p><a href="{% url 'upvote' pk=post.pk %}"><button id = {{post.pk}}  class="btn btn-default mybutton"><img src="/static/Images/like.png" height="20px" width="30px"> </button></a>
		{% endif %}
		
	
	<form method = 'POST' action = "{% url 'comment' pk=post.pk %}">
		{% csrf_token %}
		<div class="form-group col-lg-10">
			<input type="textarea" name="mycomment" placeholder="comment here..." class="form-control" required/>
		</div>
		<div class="form-group">
			<input type="hidden" name="author" value="{{request.user.first_name}} {{request.user.last_name}}">
		</div>
		<div class="form-group col-lg-2">
			<button type="submit" class="form-control btn btn-primary">comment</button>
		</div>
	</form>

	{% for comment in comments %}
		<div class="col-lg-12 comment">
			<div class="col-lg-1"><img src='{{comment.dp.url}}' class="img-thumbnail">
			</div>
			<div class="col-lg-8">
				<p style="color: blue;font-size: 15px;"><a href="{% url 'profile_view' pk=comment.author.pk %}"><b>{{comment.author}}</b></a>

				</p>
				<p class="text-justify">{{comment.comment}}</p>
			</div>
			<div class="col-lg-3">
				{% if comment.author == request.user %}
				<p><button onclick="showDiv({{comment.pk}})" class="btn btn-sm">edit</button>
					<a href="{% url 'delete' pk=comment.pk %}"><button class="btn btn-sm">delete</button></a></p>
				{% endif %}
			</div>
			<div id="{{comment.pk}}" style="display:none;">
				<form method="POST" action = "{% url 'edit' pk=comment.pk %}">
					{% csrf_token %}
					<div class="form-group">
						<input type="textarea" name="comment" class="form-control" value="{{comment.comment}}">	
					</div>
					<div class="form-group">
						<input type="submit" name="save" value="comment" class="form-control" />
					</div>
				</form>
			</div> 
		</div>
	{% endfor %}
</div>

</div>
{% endblock %}