{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-3">
			<img src='/static/{{dp_name}}' class="img-circle" height="200px" width = "200px">
	</div>
	<div class="col-md-6">
		<table class="table table-bordered">
			<tr>
				<td>User Name :</td>
				<td>{{request.user}}</td>
			</tr>
			<tr>
				<td>Name :</td>
				<td>{{request.user.first_name}} {{request.user.last_name}}</td>
			</tr>
			<tr>
				<td>Email :</td>
				<td>{{request.user.email}}</td>
			</tr>
			
			<tr>
				<td>Phone :</td>
				<td>{{profile.phone}}</td>
			</tr>
			<tr>
				<td>Date Of Birth :</td>
				<td>{{profile.birth}}</td>
			</tr>
			
		</table>
	</div>
	<div class="col-md-3">
		<a href="{% url 'profileupdate' pk=profile.pk %}"><button class="btn btn-primary btn-sm">Update profile</button></a>
	</div>
</div>
{% endblock %}