{% extends 'blog/base.html' %}
{% load static %}
{% block content %}
<div class="row">
	<div class="col-md-4 col-md-offset-5">
			<img src='{{profile.dp.url}}' class="img-circle" height="200px" width = "200px">
			{% if user.pk == request.user.pk %}
			<a href="{% url 'updateDp' %}">Update</a>
			{% endif %}
	</div>
</div><br>
<div class="row">
	<div class="col-md-6 col-md-offset-3 allposts">
		<table class="table table-bordered">
			<tr>
				<td>User Name :</td>
				<td>{{user}}</td>
			</tr>
			<tr>
				<td>Name :</td>
				<td>{{user.first_name}} {{user.last_name}}</td>
			</tr>
			<tr>
				<td>Email :</td>
				<td>{{user.email}}</td>
			</tr>
			
			<tr>
				<td>Phone :</td>
				<td>{{profile.phone}}</td>
			</tr>
			<tr>
				<td>Date Of Birth :</td>
				<td>{{profile.birth}}</td>
			</tr>
			<tr>
				<td>Number Of Posts Posted By You :</td>
				<td>{{num_posts}}</td>
			</tr>
		</table>
	</div>
	{% if user.pk == request.user.pk %}
	<div class="col-md-3">
		<a href="{% url 'profileupdate' pk=profile.pk %}"><button class="btn btn-primary btn-sm">Update profile</button></a>
	</div>
	{% endif %}
</div>
{% endblock %}