{% extends 'blog/login_registration_base.html' %}
{% block content %}

<div class="row">
        	<div class="log col-lg-6 col-lg-offset-3">
  				<form method="POST" class="form-horizontal">
  				{% csrf_token %}
  					<div>
  						<h2><center>Register</center>
  						</h2>
  					</div>
  					{% for field in form %}
  					<div class="form-group">
  						<label class="col-sm-4"> {{field.label}} </label>
  						{{field}}
  						{% for error in field.errors %}
  							
  							<div class="alert alert-danger">
                				<strong>{{ error|escape }}</strong>
            					</div>
  						{% endfor %}
  					</div>
  					{% endfor %}
  					<div class="form-group">
  						<p class="text-danger">{{error}}</p>
  						<div class="mybutton">
  						<button type = "submit" class="btn btn-success btn-md">Register</button></div>
  					</div>
  				</form>
    		</div>
    	</div>
{% endblock %}